@tailwind base;

@font-face {
  font-family: 'Brand';
  src: url('assets/fonts/brand/RoundedMplus1c-Medium.eot');
  src: local('Brand Medium'), local('RoundedMplus1c-Medium'),
    url('assets/fonts/brand/RoundedMplus1c-Medium.eot?#iefix')
      format('embedded-opentype'),
    url('assets/fonts/brand/RoundedMplus1c-Medium.woff2') format('woff2'),
    url('assets/fonts/brand/RoundedMplus1c-Medium.woff') format('woff'),
    url('assets/fonts/brand/RoundedMplus1c-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Brand';
  src: url('assets/fonts/brand/RoundedMplus1c-Light.eot');
  src: local('Brand Light'), local('RoundedMplus1c-Light'),
    url('assets/fonts/brand/RoundedMplus1c-Light.eot?#iefix')
      format('embedded-opentype'),
    url('assets/fonts/brand/RoundedMplus1c-Light.woff2') format('woff2'),
    url('assets/fonts/brand/RoundedMplus1c-Light.woff') format('woff'),
    url('assets/fonts/brand/RoundedMplus1c-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Brand';
  src: url('assets/fonts/brand/RoundedMplus1c-Regular.eot');
  src: local('Brand'), local('RoundedMplus1c-Regular'),
    url('assets/fonts/brand/RoundedMplus1c-Regular.eot?#iefix')
      format('embedded-opentype'),
    url('assets/fonts/brand/RoundedMplus1c-Regular.woff2') format('woff2'),
    url('assets/fonts/brand/RoundedMplus1c-Regular.woff') format('woff'),
    url('assets/fonts/brand/RoundedMplus1c-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Brand';
  src: url('assets/fonts/brand/RoundedMplus1c-Bold.eot');
  src: local('Brand Bold'), local('RoundedMplus1c-Bold'),
    url('assets/fonts/brand/RoundedMplus1c-Bold.eot?#iefix')
      format('embedded-opentype'),
    url('assets/fonts/brand/RoundedMplus1c-Bold.woff2') format('woff2'),
    url('assets/fonts/brand/RoundedMplus1c-Bold.woff') format('woff'),
    url('assets/fonts/brand/RoundedMplus1c-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

html {
  @apply wl-font-brand-body;
}

button,
input,
label,
optgroup,
select,
textarea {
  line-height: 1.15;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply wl-font-brand;
}

a {
  @apply wl-no-underline;
  transition: all 0.15s;
}

@tailwind components;
@tailwind utilities;
