.slider-content:after,
.slider-content:before {
  content: '';
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 10;
}
.slider-content:before {
  left: 0;
  width: 32px;
  background-image: linear-gradient(
    -90deg,
    hsla(0, 0%, 100%, 0),
    hsla(0, 0%, 100%, 0.97) 16px,
    #fff
  );
}
.slider-content:after {
  right: 0;
  width: 32px;
  background-image: linear-gradient(
    90deg,
    hsla(0, 0%, 100%, 0),
    hsla(0, 0%, 100%, 0.9) 12px,
    hsla(0, 0%, 100%, 0.97) 24px,
    #fff
  );
}
.stepper li:not(:last-child):after {
  content: '';
  position: absolute;
  display: block;
  left: 50%;
  top: 1rem;
  width: 100%;
  height: 1px;
  background-image: repeating-linear-gradient(90deg,#cbd5e0,#cbd5e0 4px,#fff 4px,#fff 8px);
}
