@import 'nav.css';
@import 'main.css';
@import 'cart.css';

/* Took from https://simpleicons.org */
.vk-icon {
  fill: #6383a8;
}
.instagram-icon {
  fill: #e4405f;
}
.facebook-icon {
  fill: #3b5998;
}
.twitter-icon {
  fill: #1da1f2;
}
.youtube-icon {
  fill: #ff0000;
}
