.product-options input {
  opacity: 0;
  position: absolute;
  transform: scale(0);
}
.product-options li {
  position: relative;
}
.product-options label {
  background-color: #f1f5f8;
  transition: background-color 0.15s ease-in;
}
.product-options input:checked + label {
  background-color: #dae1e7;
}
.lnr-info:before {
  content: 'i';
}
.nav-extra {
  opacity: 0;
  transform: scale(0);
  transition: transform 0s, opacity 0.25s;
}
.nav-extra.shown {
  opacity: 1;
  transform: scale(1);
}
