.active a {
  color: #ff6900;
}
nav:after,
nav:before {
  content: '';
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 10;
}
nav:before {
  left: 0;
  width: 24px;
  background-image: linear-gradient(
    -90deg,
    hsla(0, 0%, 100%, 0),
    hsla(0, 0%, 100%, 0.97) 14px,
    #fff
  );
}
nav:after {
  right: 0;
  width: 40px;
  background-image: linear-gradient(
    90deg,
    hsla(0, 0%, 100%, 0),
    hsla(0, 0%, 100%, 0.9) 12px,
    hsla(0, 0%, 100%, 0.97) 24px,
    #fff
  );
}
nav {
  transform: translate3d(0, 56px, 0);
  transition: transform 0.4s ease-out;
}
.nav-title {
  transform: translate3d(0, 0, 0);
  transition: transform 0.4s ease-out;
}
.sticked-mobile nav {
  transform: translate3d(0, 0, 0);
}
.sticked-mobile .nav-title {
  transform: translate3d(0, -56px, 0);
}
@media (min-width: 768px) {
  nav {
    transform: translate3d(-24px, 0, 0);
    transition: transform 0.4s ease-out;
    width: 100%;
  }
  nav:after,
  nav:before {
    content: unset;
  }
  .nav-logo {
    transform: translate3d(-40px, 0, 0);
    transition: transform 0.4s ease-out;
  }
  .sticked-desktop nav {
    transform: translate3d(16px, 0, 0);
  }
  .sticked-desktop .nav-logo {
    transform: translate3d(8px, 0, 0);
  }
}
.no-transition nav,
.no-transition .nav-logo,
.no-transition .nav-title {
  transition: none;
}
